<h1>How Was Your Trip?</h1>

<form action="/entries" method="entry">
  <p>
    <label for="title">Title</label>
    <input type="text" title="title">
  </p>
  
    <p>
    <label for="date">Date</label>
    <input type="date" date="date">
  </p>

    <p>
    <label for="body">Title</label>
    <input type="text" body="body">
  </p>
  
  <button>Submit</button>
</form>


<br>

<p><a href="/entries/">Go Back</a></p>