<h1>Places I've Been</h1>

<br>

<%#list of current places%>


 <ul>
   <% for place in @places %>
      <h4><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></h4>
 
   <% end %>
</ul>

<br>


<%#new places%> 


<p><a href="/places/new">Add a new place</a></p>

